@page
@model SportClub.Pages.Players.CreateModel

@{
    ViewData["Title"] = "Dodaj";
}
        
<h1>Dodavanje</h1>
        
<h4>Igrac</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Player.FirstName" class="control-label">Ime</label>
                <input asp-for="Player.FirstName" class="form-control" />
                <span asp-validation-for="Player.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.LastName" class="control-label">Prezime</label>
                <input asp-for="Player.LastName" class="form-control" />
                <span asp-validation-for="Player.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.DateOfBirth" class="control-label">Datum rodenja</label>
                <input asp-for="Player.DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="Player.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Email" class="control-label">Email</label>
                <input asp-for="Player.Email" class="form-control" />
                <span asp-validation-for="Player.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.PhoneNumber" class="control-label">Broj mobitela</label>
                <input asp-for="Player.PhoneNumber" class="form-control" />
                <span asp-validation-for="Player.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.JerseyNumber" class="control-label">Broj dresa</label>
                <input asp-for="Player.JerseyNumber" class="form-control" />
                <span asp-validation-for="Player.JerseyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Position" class="control-label">Pozicija</label>
                <input asp-for="Player.Position" class="form-control" />
                <span asp-validation-for="Player.Position" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Player.Active" />Aktivan</label>
            </div>
            <div class="form-group">
                <label asp-for="Player.TeamId" class="control-label">Tim</label>
                <select asp-for="Player.TeamId" class ="form-control" asp-items="ViewBag.TeamId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Nazad na tablicu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
