@page
@model IndexModel
@{
    ViewData["Title"] = "Pocetna stranica";
}

<div class="text-center">
    <h1 class="display-4">Dobrodosli</h1>
    <p>Sportski klub web stranica je Vase mjesto za najaktualnije informacije o nogometnim igracima i timovima.</p>
</div>
